.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Rubik;
}

.portfolio-header{
  text-align:center;
  font-family: Rubik;
  font-size: 6vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 7.5px;
  text-align: center;
  color: var(--white);
}

/* hamburger menu */
.container { 
  position: relative; 
  display: flex; 
} 

.hamburger-button { 
  padding: 0; 
  width: 40px; 
  border: 0; 
  color: #fff; 
  background-color: #333; 
  cursor: pointer; 
  outline: 0; 
  font-size: 40px; 
}

.dropdown { 
  z-index: 100; 
  float: left; 
  position: absolute; 
  font-family: Rubik;
  width:  50vw;
  height: 50vw;
  background-color: black;
  color:white;
  top: 100%; 
  left: 0; 
  width: 400px; 
  z-index: 2; 
  border: 1px solid rgba(0, 0, 0, 0.04); 
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14); } 

  img{
    align-self: center;
  }
  
  ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
  } 
    
    li { 
      padding: 8px 12px; 
    } 
    li:hover { 
      background-color: rgba(0, 0, 0, 0.14); cursor: pointer; 
    }

  /* end of hamburger menu */

  /* About Page */
  .About{
    display: block;
    /* width: 90vw; */
    /* height: 60vw; */
    /* padding-top: 5vw; */
    /* padding-bottom: 5vw; */
  }

  /* .profile-pic-div{
    align-content: center;
    align-items: center;
    display: flex;
  } */

  .profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    /* padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 5vw; */
    border: 2vw;
    border-color: white;
    border-radius: 50%;

  }

  .brand-statement{
    display:  block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 50vw;
    text-align: left;
    font-size: 2vw;
    padding-left: 10vw;
    padding-top: 10vw;
  }
  
  a{
    color:white;
  }

  .resume{
    font-size: 4vw;
  }

  /* Contact Section */
  .contact-me{
    width: 90vw;
    height: 40vw;
  }

  .contact-img{
    padding: 5vw 5vw 5vw 5vw;
  }

  /* Skills section */
  .row-1{
    display: block;
  }

  .row-2{
    display:block;
  }

  .row-3{
    display: block;
  }

  /* Projects */
  .project-div{
    display:block;
    padding: 10vw 10vw 10vw 10vw;

  }

/* mobile tablet compatible. */
@media (max-width:1024px){
  .headline{
    font-size: 4vw;
  }
  .about-me{
    font-size: 5vw;
  }

  .About{
    display:block;
    padding-bottom: 15vw;
  }

  .brand-statement{
    display:  block;
    height: 40vw; 
    font-size: 3.5vw;
    text-align: left;
    padding-bottom: 15vw;
  }
  .skills{
    padding-top: 15vw;
  }

  a{
    font-size:5vw;
  }
  .skills-h1{
    font-size:5vw;
  }
  .projects-h1{
    font-size:5vw;
  }
  .contact-h1{
    font-size:5vw;
  }
}

  @media (max-width:768px){
    .About{
      display:block;
      padding-bottom: 10vw;
    }

    .brand-statement{
      display:  block;
      height: 40vw; 
      font-size: 3.5vw;
      text-align: left;
      padding-bottom: 15vw;
      font-weight: 200;
    }

    .skills{
      padding-top: 10vw;
    }

  }

  @media (max-width:375px){
    .portfolio-header{
      font-size: 5vw;
    }
    .headline{
      font-size: 3vw;
    }
    .about-me{
      font-size: 6vw;
    }
    .brand-statement{
      display:  block;
      height: 40vw; 
      font-size: 3.5vw;
      text-align: left;
      padding-bottom: 15vw;
      font-weight: 200;
    }

    .skills{
      padding-top: 15vw;
      display:  block;
    }

    .contact-img{
      /* display: block; */
      height:8vw;
      width: 5vw;
    }
    .contact-me{
      height: 60vw;
    }

  }