.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Rubik;
}

.Header{
  margin: 2vw 0vw 2vw 0vw;
  background-image: url("https://blog-media-motionelements.s3-us-west-2.amazonaws.com/uploads/2018/04/11454306_MotionElements_silhouettes-in-an-office_converted_72994-480x270-9s-q2.gif");
  max-height: 100%;
  border: 5px solid white;
}

.portfolio-header{
  text-align:center;
  /* font-family: Rubik; */
  font-size: 4.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5vw;
  text-align: center;
  color: var(--white);
}

.headline{
  font-size: 1.5vw;
}

/* hamburger menu */
.container { 
  position: relative; 
  display: flex; 
} 

.hamburger-button { 
  padding: 0; 
  width: 40px; 
  margin: 2vw 2vw 2vw 2vw; 
  color: #fff; 
  background-color: #333; 
  cursor: pointer; 
  outline: 0; 
  font-size: 40px; 
}

.dropdown { 
  z-index:100; 
  float: left; 
  position: absolute; 
  width:  30vw;
  height: 50vw;
  background-color: black;
  color: black;
  top: 100%; 
  left: 0; 
  text-align: left;
  font-size: 1.5vw;
  /* z-index: 2;  */
  /* margin: 3vw 3vw 3vw 3vw; */
  border: 1px solid rgba(0, 0, 0, 0.04); 
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
 } 

 .dropdown-profile-pic{
  border-radius: 50%;
  padding: 2vw 2vw 2vw 2vw;
 }

  img{
    align-self: center;
  }
  
  ul { 
    list-style: none; 
    padding: 2vw 2vw 2vw 2vw; 
    margin: 0; 
  } 
    
    li { 
      padding: 8px 12px; 
    } 
    li:hover { 
      /* background-color: rgba(0, 0, 0, 0.14); cursor: pointer;  */
      color: black;
      background-color: white;
    }

  /* end of hamburger menu */

  /* section formatting */
  .section-header{
    /* text-align: center; */
    font-size: 5vw;
    /*  */
  }

  /* About Page */
  .About{
    /* display: block; */
    /* column-count: 2;
    column-gap: 10vw; */
    /* width: 50vw; */
    margin: 10vw 5vw 10vw 5vw;

    /* width: 90vw; */
    /* height: 60vw; */
    /* padding-top: 5vw; */
    /* padding-bottom: 5vw; */
  }

  .about-content{
    column-count: 2;
    margin: 10vw 5vw 10vw 5vw;
  }

  /* .profile-pic-div{
    align-content: center;
    align-items: center;
    display: flex;
  } */

  .profile-pic{
    display: block;
    min-width: 10vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

    /* padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 5vw; */
    border: 2vw;
    border-color: white;
    border-radius: 50%;

  }

  .brand-statement{
    /* display:  inline-block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* height: 30vw;
    width: 50vw; */
    margin: 5vw 5vw 5vw 5vw;
    text-align: left;
    font-size: 1.5vw;
    /* margin: 5vw 5vw 5vw 5vw; */
    /* padding-left: 10vw;
    padding-top: 10vw; */
  }
  
  a{
    color:white;
  }

  .resume{
    font-size: 2vw;
  }

  /* Contact Section */
  /* .contact-me{
    width: 90vw;
    height: 40vw;
  } */

  /* .contact-img{
    padding: 5vw 5vw 5vw 5vw;
  } */

  /* Projects */
.project-page{
  margin: 5vw 2vw 5vw 2vw;
  
}

  .project-page-1{
    column-count: 2;
    text-align: left;
  }

  .project-page-2{
    column-count: 2;
    text-align: left;
  }

  .img-div{
    text-align: center;
    height: 20vw;
    width: 20vw;
  }

  .projects{
    background-color: #fff;
    padding: 4px;
  }

  .project-div{
    display:block;
    padding: 5vw 5vw 5vw 5vw;

  }

  a{
    text-decoration: none;

  }

  a:hover{
    /* text-shadow: 2px 2px #48fb47;
    transition: scale(2); */
    background-color: white;
    color: black;
    /* -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate; */
  
    /* transform: scale(5); 
    transition: transform 0.5s linear; */

  }
  

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  /* skills page */
  .skills-page{
    margin: 5vw 2vw 5vw 2vw;
    
  }

  .skills-container{
    column-count: 2;
    margin: 5vw 5vw 5vw 5vw;
  }
  .skills-logos-container{
    /* column-span: all; */
    display: inline-block;
  }

  .skills-description{
    text-align: left;
  }

  .skills-logo{
    padding: 1vw 1vw 1vw 1vw;
  }

  .row-1{
    display: block;
  }

  .row-2{
    display:block;
  }

  .row-3{
    display: block;
  }

  /* contact section */

  .contact-me{
    padding: 2vw 5vw 2vw 5vw;
  }

  .contact-me-content{
    padding: 2vw 5vw 2vw 5vw;
  }

  .contact-img{
  padding: 5vw 5vw 5vw 5vw;
  }

  .contact-img:hover{
    /* box-shadow: 0 12px 16px 0 white; */
    /* transition: scale(3); */
    /* background-color: #48fb47; */
    transform:scale(0.5); 
    transition: transform 0.5s linear;
  }
  
  

/* mobile tablet compatible. */
@media (max-width:1024px){
  .headline{
    font-size: 4vw;
  }
  .about-me{
    font-size: 5vw;
  }

  .About{
    display:block;
    /* padding-bottom: 15vw; */
  }

  .brand-statement{
    display:  block;
    height: 40vw; 
    font-size: 3.5vw;
    text-align: left;
    padding-bottom: 15vw;
  }
  .skills{
    padding-top: 15vw;
  }

  a{
    font-size:2vw;
  }
  .skills-h1{
    font-size:5vw;
  }
  .projects-h1{
    font-size:5vw;
  }
  .contact-h1{
    font-size:5vw;
  }

} 

  @media (max-width:768px){
    .About{
      display:block;
      /* padding-bottom: 10vw; */
    }

    h3{
      font-size: 3vw;
    }

    p{
      font-size: 2.5vw;
    }

    a{
      font-size: 3vw;
    }

    .brand-statement{
      /* display:  block; */
      /* height: 40vw;  */
      font-size: 3.5vw;
      text-align: left;
      /* padding-bottom: 15vw; */
      font-weight: 200;
    }

    .skills{
      padding-top: 10vw;
    }

    .skills-logos-container{
      height: 40vw;
    }
    
    .skills-description{
      font-size: 2vw;
    }

  }

  @media (max-width:375px){
    .dropdown{
      height: 70vw;
    }

    h3{
      font-size: 3vw;
    }

    p{
      font-size: 2vw;
    }

    a{
      font-size: 3vw;
    }
    /* .hamburger-button{
      height: 20px;
      width: 30px;
    } */

    .portfolio-header{
      font-size: 5vw;
    }
    .headline{
      font-size: 3vw;
    }
    .about-me{
      font-size: 6vw;
    }
    .brand-statement{
      display:  block;
      height: 40vw; 
      font-size: 3.5vw;
      text-align: left;
      padding-bottom: 15vw;
      font-weight: 200;
    }

    .skills{
      padding-top: 15vw;
      display:  block;
    }

   .contact-me-content{
     font-size: 3vw;
   }

    .contact-img{
      /* display: block; */
      height:8vw;
      width: 5vw;
    }
    .contact-me{
      height: 60vw;
    }

  }